*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* scroll-behavior: smooth;
    overflow-x: auto; */
}

:root{
    --bg-color: burlywood;
    --bg-color2:  rgba(237, 232, 242, 0.459);
}
body{
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
    max-width: 100%;
    overflow-x: hidden;
}

.hero{
background-image: url(asset/image/bg1.jpg);
background-position: center;
/* mask-image: linear-gradient(rgb(128, 0, 128) 2%, transparent);
-webkit-mask-image: linear-gradient(rgb(128, 0, 128) 2%, transparent); */
background-repeat: no-repeat;
object-fit: contain;
height: 100vh; 
position: relative; 
z-index: 2; 
color: whitesmoke; 
font-family: "Roboto Slab", serif;
 width: 100%;
}
.hero a{
    color: whitesmoke;
    font-family: "Roboto Slab", serif;
} 
:is(.logo a, .mobile-logo a){
    text-decoration: none;
}
/* .hero::after{
    content: "";
    position: absolute;
    background-color:white;
    opacity: 5;
    inset: 0;
} */
h1{
    color: rebeccapurple;
}
.hero-menu{
    margin: auto 5%;
}
 .hero-content{
    overflow: hidden;
    width: 80%; 
    
    margin-left: 25%;
    margin-right: 20%;
    height: 80vh;
    min-height: 40vh;
    z-index: 1;
    margin-top: 5%;
} 
.hero-txt{
    position: absolute;
    margin-right: 50%;
    width: 50%;

}
.hero-text{
    font-size: 0.9rem !important;
    color: white;
}
.hero-br{
    border: yellow solid 2px;
    position: absolute;
    left: 10%;
    top: 5%;
    width: 70%;
    height: 65vh;
}

main{
    background-color: rgba(237, 232, 242, 0.459);
    width: auto;
    height: auto;
    color: rgb(50, 42, 42);
    padding: auto 5%;
}
section{
    margin: auto 5%;
    padding: auto 10%;
}
.about-us{
    overflow: hidden;
    /* min-height: 30vh;
    max-height: 50vh; */
    /* z-index: 1;
    position: relative; */

}
.abt-txt{
background-color:var(--bg-color);
width: 100%;
}
.abt-txt-span{
    margin-bottom: 18%;
}
.abt-img{
width: 50vh;

}
.hidden{
    display: none;
}
/* .menu-item, .menu-nav{
    display: block;
} */
 article{
    background-color: white;
 }
.abt-article{
   
    /* position: absolute;
    top:100%; */
    display: flex;
  
    align-items: center;
}

.abt-card-footer{
    background-color: var(--bg-color2);
    color:#6b705c;
    text-align: center;
    
}
.main-content2{
    padding-top: 5%;
}
.main-img{
    width: 100%;
    max-height: 70vh;
}
.contact-us{
    background-image: url(asset/image/family2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0% 4%;
    height: auto;
}
.contact-us-txt{
    color: white;
    padding: 15px;
    background-color: rgba(65, 105, 225, 0.564);
    width: 100%;
    height: 55vh;
    overflow: hidden;
    padding-left: 5%;
    font-size: 0.9rem;
}
.contact-us-text{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 70vh;
}
.mobile-slide{
    display: none;
}
:is(.main-content, .funfact, .contact-us, .about-us){
    padding: 0% 5% !important;
} 
.span-text{
    transition: all 0.8s ease-in-out;
    padding: 2px;
    margin-top: 6%;
    width: 100%;
}

.span-text:not(.span-text1):hover{
    background-color: royalblue;
    color: white;
   transform: scaleX(1.0);
   font-size: 1rem;
   text-align: center;
   height: 6vh;
}
:is(.fa, .fa-solid, .fa-regular){
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}
.mobile-header{
    display: none;
}
.menu-button{
    font-size: 2rem;
}
footer{
    color: rgb(65, 105, 225);
    max-width: 100%;
    overflow: hidden;
}
.footer-content{
    padding: 0% 5% !important;
}  
.footer-txt{
    width: 100%;
}
.footer-icon{
    font-size: 1.5rem;
}
.d-block ul{
    display: block;
    width: 100%;
}
.footer-form{
    background-color: blanchedalmond;
    border: transparent 1px solid;
    border-radius: 10%;
    max-width: 100%;
}
#footer-input{
    border: none;
    outline: none;
    background-color: inherit;
}
.footer-text{
    width: 80%;
    text-wrap: wrap;
    overflow: hidden;
}
.footer-txt a{
    color: rgb(65, 105, 225) !important;
}
@media only screen and (max-width: 767px) {
    .hero{
        height: 70vh; 
        font-family: "Roboto Slab", serif;
         width: 100%;
        }
    .hero-txt{
        width: 100%;
        top: 5%;
        margin: auto !important;
    
    }
     .menu-item{
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 30%;
        width: 20%;
        height: 90%;
        background-color: rgb(11, 71, 123);
        width: 100%;
        display: none;
     }
     .nav-span,.menu-item a{
        margin-left: 15%;
        font-family: "Roboto Slab", serif;
        font-size: 0.9rem;
     }
     .nav-span{
        margin-left: 18%;
        font-family: "Roboto Slab", serif;
        font-size: 0.9rem;
     }
     
    .logo{
        display: none;
    }
    .mobile-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: aliceblue;
        
    }
    .hero-br{
        display: none;
    }
    .menu-nav{
    margin-top: 5%;
}
.abt-card{
    margin-left:5%;
    margin-bottom: 8%;
}
.abt-txt{
    background-color:var(--bg-color);
    width: 100%;
    }
    
:is(.main-content, .funfact, .contact-us, .about-us){
    padding: 0% 6% !important;
}
.main-content2{
    padding-top: 7%;
}
.main-image{
    margin-bottom: 3%;
}

.feature-text{
    color:rgb(65, 105, 225) !important ;
    text-wrap: wrap;
}
.span-text1{
    background-color: transparent !important;
    color:rgb(65, 105, 225) !important ;
}
.abt-txt-span{
    font-size: 0.8rem;
    margin-bottom: 0 !important;
}

.mobile-slide{
    display: block;
}
.large-screen{
    display: none;
}
:is(.contact-us-txt, .contact-us-txt h5){
    font-size: 0.6rem;
}
.contact-us-txt{
    color: white;
    background-color: rgba(65, 105, 225, 0.564);
    width: 100%;
    height: auto;
    overflow: hidden;
}
.slider-txt{
font-size: 0.5 !important;
} 
.footer-content{
    flex-direction: column;
    font-size: 0.6rem;
    padding: 0% 6% !important;
}
.footer-icon{
    font-size: 0.9rem;
}
footer h3, footer h4{
    font-size: 0.7rem;
}
footer h4{
    font-size: 0.8rem;
}
.footer-footer{
    font-size: 0.7rem;
}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .hero{
       height: 80vh; 
        position: relative; 
        color: whitesmoke; 
        font-family: "Roboto Slab", serif;
         width: 100%;
        }
        .hero a{
            color: whitesmoke;
            font-family: "Roboto Slab", serif;
        } 
        .hero-menu{
            margin: auto 3%;
        }
        .menu-item{
            margin-left: 5%;
        }
        :is(.logo a, .mobile-logo a){
            text-decoration: none;
        }

        h1{
            color: rebeccapurple;
        }
         .hero-content{
            overflow: hidden;
            width: 80%; 
            
            margin-left: 25%;
            margin-right: 20%;
            height: 80vh;
            min-height: 40vh;
            z-index: 1;
            margin-top: 5%;
        } 
        .hero-txt{
            position: absolute;
            margin-right: 40%;
            width: 55%;
            top: 15%;
        }
        .hero-text{
            font-size: 0.9rem !important;
            color: white;
        }
        .hero-br{
            border: yellow solid 2px;
            position: absolute;
            left: 10%;
            top: 5%;
            width: 70%;
            height: 45vh;
        }
        .abt-txt-span{
            font-size: 1rem;
            margin-bottom: 0 !important;
        }
        .abt-article{
           flex-direction: column;
           width: 100%;
        
        }
        .abt-txt {
            font-size: 1rem !important;
            font-weight: bold;
        }
        .abt-txt-span p{
            text-align: center;
            font-weight: bold;
        }
        .card-img-top{
            width: 100% !important;
        }
        .card-content{
            margin-right: 18%;
        }
        .abt-card{
            width: 450px !important;
            margin-right: 10% !important;
            padding-left: 1%;
            margin-bottom: 8%;
        }
      
        .main-img{
            width: 50vw;
            height: 50vh;
        }
        .feature-text{
            color:rgb(65, 105, 225) !important ;
            flex-wrap: wrap; 
            line-height: 0px;
            font-size: 0.8rem;
            padding: 2px;
        }
        .span-text{
            padding: 1px;
        }
        .funfact-content{
            padding-left:15%;
        }
        .contact-us-txt{
            width: 100%;
            height: 25vh;
            padding-left: 2%;
            font-size: 0.7rem;
            padding: 1px !important;
        }
        .contact-us-text{
            width: 80%;
            height: 60vh;
            margin: auto 7%;
        }
        :is(.fa, .fa-solid, .fa-regular){
            font-size: 1rem;
            width: 100%;
            text-align: center;
            padding-bottom: 1%;
        }
        .footer-icon{
            font-size: 0.9rem;
        }
        footer h3{
            font-size:1rem;
        }
        footer h4{
            font-size:1rem;
        }
        .footer-footer{
            font-size: 0.7rem;
        }
        footer h1{
            font-size: 1rem;
           
        }
       
    }
 @media only screen and (max-width: 1200px) and (min-width:1024px){
    /* .abt-card{
        margin-right: 15%;
    } */
    .main-img{
        width: 50vw;
    }
    .funfact-content{
        margin-left: 8%;
    }
    .contact-us-txt{
        width: 17vw;
        height: 45vh;
        font-size: 0.9rem;
        padding: 1px !important;
        font-family: "Roboto Slab", serif;
        line-height: 1.7rem;
    }
    .contact-us-txt h5{
        font-size: 1rem;
    }
     .contact-us-text{
        width: 100%;
        height: 60vh;
        margin: auto;
    } 
    :is(.fa, .fa-solid, .fa-regular){
        font-size: 1rem;
        width: 100%;
        text-align: center;
        padding-bottom: 1%;
    }
    }